@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scrollbar {
    @apply overflow-x-auto;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.track-background {
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 20px;
        width: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
